.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  background-color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.font-link {
  font-family: 'Quicksand', sans-serif;
}

button {
  margin-left: 10px;
  border-radius: 2px; 
  font-size: 22px;
  font-family: 'Quicksand';
  background-color: #6B00E1;
  border: none;
}

button.header {
  width: 90%;
  border: solid 1px white;
  border-radius: 3px;
  background-color: transparent;
  color: white;
}

td {
  word-wrap: break-word;
  padding: 5px;
}

table {
  margin-top: -650px;
  margin-left: 550px;
  width: 50%;
}

div.ticker-div {
  margin-left: 0px;
  background-color: #6B00E1;
  border-radius: 20px; 
  border: none;
  width: 40%;
  margin-top: 100px;
  padding:5px;
}

div.ticker24-div {
  margin-left: 0px;
  background-color: #8C6199;
  border-radius: 20px; 
  border: none;
  width: 41%;
  padding: 1px;
  margin-top: 10px;
  text-align: left;
}

h6.ticker24-h6 {
  margin-left: 10px; 
  margin-top: 10px;
  margin-bottom: -4px;
}
